{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data" class = "container">
    {{ form.hidden_tag() }}
    {{ form.title.label( class="form-label" ) }}
    {{ form.title( class="form-control" ) }}
    <br>
    {{ form.body.label( class="form-label" ) }}
    {{ form.body( class="form-control", rows = "3" ) }}
    <br>
    {{ form.image.label( class="form-label" ) }}
    {{ form.image( class="form-control") }}
    <br>
    {{ form.submit( class="btn btn-primary" ) }}
</form>    

{% endblock %}